<div class="social-head-menu">
	<ul>
		{{#if @site.twitter}}<li><a href="{{twitter_url}}" class="social-twitter" name="Our Twitter profile"><i class="fab fa-twitter" title="twitter icon"></i></a></li>{{/if}}
		{{#if @site.facebook}}<li><a href="{{facebook_url}}" class="social-facebook" name="Check us on Faceook!"><i class="fab fa-facebook" title="facebook icon"></i></a></li>{{/if}}
		<li><a href="{{@site.url}}/rss/" name="link to the rss feed" class="social-rss" name="Use our RSS Feed to stay connected"><i class="fas fa-rss" title="rss icon"></i></a></li>
		<li><a href="https://social.tchncs.de/web/@krinkko#" name="Follow me on Mastodon" class="social-mastodon" name="My Mastodon profile for you guys"><i class="fab fa-mastodon" title="mastodon icon"></i></a></li>
	</ul>
</div>
	