[submodule "themes/tailwind"]
	path = themes/tailwind
	url = https://github.com/tomowang/hugo-theme-tailwind.git
[submodule "themes/enchanted-lowkey"]
	path = themes/enchanted-lowkey
	url = https://github.com/nixentric/Lowkey-Hugo-Theme.git
