{{!< default}}

<main class="content" role="main">

    <section class="error404-page">
		<div class="error404-icon">
			<i class="far fa-tired"></i>
		</div>
		<div class="error404text">
			<h1>404!?</h1>
			<p>Whatever you were looking for could not be found. How about a search?</p>
    </section>

</main>
