<header id="banner">
    <div class="headerauthor">
        <p class="headerauthor_pic">
            {{ $image := resources.Get "images/123sawd.jpg" }}
            <img src="{{ $image.RelPermalink }}">
        </p>
        <p class="headerauthor_desc"></p>
    </div>
    <h2><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>
    <nav>
        <ul>
            {{ range .Site.Menus.main.ByWeight -}}
            <li>
                {{ .Pre }}<a href="{{ .URL }}" title="{{ .Title }}">{{- .Name -}}</a>{{ .Post }}
            </li>
            {{- end }}
        </ul>
    </nav>
    <p><small>{{ .Site.Params.Description }}</small></p>
    
</header>
